*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Raleway", sans-serif;
}

/*Tehmine*/

.Tehmine_header{
    width: 100%;
    height: 100vh;
    background-image:url(./img/Tehmine_home_img.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    
}
.Tehmine_header a{
    text-decoration: none;
}


nav{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
   padding: 20px 60px;
   position: fixed;
    background-color: #ffffff;
    z-index: 999;

}
.Tehmine_logo{
    padding:0 20px ;
}
.Tehmine_logo a{
     font-size: 25px;
     font-weight: bold;
     transition: 0.3s;
     color:#336699; 
}
.Tehmine_logo a:hover{
    color:#2074cebe;
}

.Tehmine_menu a{
    color: #369; 
}
ul{
    display: flex;
    justify-content: start;
    flex-flow: row nowrap;
 
}
li{
    list-style: none;
    padding:8px 30px;
    font-size: 20px;
    transition:0.3s;
}
.Tehmine_menu  li:hover{
    background-color: #369;
}
.Tehmine_menu  li:hover a{
  color: #ffffff;
  
}
.Tehmine_parent{
  display:none ;
  padding: 0;
}


.Tehmine_text_home{
    height: 90vh;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 1;
}

.Tehmine_home_h1{
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px #333;
    color: white;
    font-weight: 400;
    line-height: 1.9;
}

.Tehmine_home_p{
    text-shadow: 2px 2px 2px #333;
    text-align: center;
    color: white;
    line-height: 1.9;
    font-size: 20px;
}

.Tehmine_home_button{
    background-color: #357;
    cursor: pointer;
    padding: 15px 40px;
    position: absolute;
    bottom: 0;
    border: none;
}

.Tehmine_home_button:hover{
    color: #FFF;
    background: #37A;
    padding: 20px 50px;
}


@media screen and (max-width:1000px) {
    .Tehmine_logo a{
        font-size: 20px;
    }
      li{
        font-size: 15px;
        padding:8px 15px;
      }
}

@media screen and (max-width:730px) {
    .Tehmine_parent{
        display: block;
        position: relative;
        padding: 0 20px;
    
    }
    .Tehmine_menu{
        display: none;
    }
    nav{
        padding: 20px 0;
    }
    .Tehmine_child{
        background-color:white;
        width: 100vh;
        height:0px;
       position: absolute;
        overflow: hidden;
       right: 0px;
        transition: .4s;
        
    }
    .Tehmine_parent:hover .Tehmine_child{
        height: 200px;
        cursor: pointer;
    }
  

    .Tehmine_child ul{
        display: block;
        display: flex;
        flex-flow: column wrap;
        align-items: end;

        
    }
    .Tehmine_child li{
        width: 200px;
        font-size: 18px;
    }
    .Tehmine_child a{
        color: #707070;
    }
    .Tehmine_child li:hover{
     background-color: #336699;
    }

 .Tehmine_child li:hover a{
       color: white;
    }

}

/*Mariam*/

.Mariam_what-we-do{
    width: 100%;
    height: 100vh;
    padding: 100px 90px;
    font-family: "Raleway", sans-serif;
}
.Mariam_div1{
    width: 100%;
    height: auto;
}
.Mariam_h2{
    color: #3377AA;
    font-weight: 500;
    font-size: 35px;
}
.Mariam_p{
    color: #707070;
    font-size: 20px;
    line-height: 25px;
    margin-top: 20px;
}
.Mariam_text{
    margin-left: 20px;
}
.Mariam_a{
    color: #3388BB;
    text-decoration: none;
}
.Mariam_a:hover{
    color: #dc3545;
}
.Mariam_4divs{
    align-items: center;
    justify-content: center;
}
.Mariam_2divs{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}
.Mariam_div2{
    width: 700px;
    display: flex;
    margin-top: 40px;
}
.Mariam_4divs .Mariam_h2{
    font-size: 25px;
}
.fa-chart-column, .fa-message, .fa-fingerprint, .fa-users{
    color: rgb(51, 119, 170);
    font-size: 50px;
}
.Mariam_button{
    background-color: #336699;
    color: #fff;
    padding: 14px 30px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
.Mariam_button:hover{
    filter:opacity(80%);
}
#Mariam_p_last::after{
    content: "<i class=fas fa-users><i class=far fa-chart-bar>";
    font-style: italic;
}
@media screen and (min-width: 804px) and (max-width: 844px){
    .Mariam_div1 .Mariam_h2{
        font-size: 45px;
    }
    .Mariam_p{
        font-size: 20px;
        line-height: 35px;
    }
    .Mariam_div2{
        flex-wrap: wrap;
    }
    .Mariam_2divs{
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .fa-chart-column, .fa-message, .fa-fingerprint, .fa-users{
        margin-left: 50%;
        font-size: 60px;
        margin-bottom: 20px;
    }
    .Mariam_4divs .Mariam_h2{
        font-size: 35px;
    }
    .Mariam_button{
        padding: 15px 36px;
    }
}
@media screen and (min-width: 767px) and (max-width: 804px){
    .Mariam_what-we-do{
        padding: 130px 125px;
    }
    .Mariam_p{
        line-height: 35px;
    }
    .Mariam_div2{
        flex-wrap: wrap;
    }
    .Mariam_2divs{
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .fa-chart-column, .fa-message, .fa-fingerprint, .fa-users{
        margin-left: 50%;
        font-size: 50px;
        margin-bottom: 20px;
    }
    .Mariam_4divs .Mariam_h2{
        font-size: 30px;
    }
    .Mariam_button{
        padding: 15px 36px;
    }
}
@media screen and (min-width: 575px) and (max-width: 767px){
    .Mariam_what-we-do{
        padding: 130px 30px;
    }
    .Mariam_p{
        line-height: 35px;
        font-size: 18.5px;
    }
    .Mariam_div2{
        flex-wrap: wrap;
    }
    .Mariam_2divs{
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .Mariam_4divs{
        margin-top: 20px;
    }
    .fa-chart-column, .fa-message, .fa-fingerprint, .fa-users{
        margin-left: 50%;
        font-size: 50px;
        margin-bottom: 20px;
    }
    .Mariam_4divs .Mariam_h2{
        font-size: 30px;
    }
    .Mariam_button{
        padding: 14px 34px;
    }
}
@media screen and (min-width: 566px) and (max-width: 575px){
    .Mariam_what-we-do{
        padding: 130px 30px;
    }
    .Mariam_p{
        line-height: 35px;
        font-size: 18.5px;
    }
    .Mariam_div2{
        flex-wrap: wrap;
    }
    .Mariam_2divs{
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .Mariam_4divs{
        margin-top: 20px;
    }
    .fa-chart-column, .fa-message, .fa-fingerprint, .fa-users{
        margin-left: 50%;
        font-size: 50px;
        margin-bottom: 20px;
    }
    .Mariam_4divs .Mariam_h2{
        font-size: 30px;
    }
    .Mariam_button{
        padding: 14px 34px;
    }
}
@media screen and (min-width: 320px) and (max-width: 565px){
    .Mariam_what-we-do{
        padding: 130px 28px;
    }
    .Mariam_p{
        line-height: 35px;
        font-size: 18.5px;
    }
    .Mariam_div2{
        flex-wrap: wrap;
    }
    .Mariam_2divs{
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .Mariam_4divs{
        margin-top: 20px;
    }
    .fa-chart-column, .fa-message, .fa-fingerprint, .fa-users{
        margin-left: 50%;
        font-size: 50px;
        margin-bottom: 20px;
    }
    .Mariam_4divs .Mariam_h2{
        font-size: 30px;
    }
    .Mariam_button{
        padding: 14px 34px;
    }
}
/*Tehmine*/

.Tehmine_Testimonials{
    width: 100%;
    height: 100vh;
    background-image: url(./img/Tehmine_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Tehmine_Testimonials_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 10px;
}
.Testimonials_title{
    font-size: 2.6rem;
    color: white;
    padding: 20px;
}
.Testimonials_text{
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 20px;
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.Tboxs{
    position: relative;
    width:80%;
   overflow: hidden;
   padding: 0 50px;

}
.Tbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    
}
.Tbox img{
   border-radius: 50%;
    transition: all 0.15s ease;
    margin: 10px;
    transform: translateX(50% );
}
.Tbox input{
    display: none;
}
.Timg{
    display: flex;
    justify-content: center;
    margin:50px;

    
}
.Timg label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(182, 181, 181);
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
    
}
.Tehmine1{
   width: 550px;
}
.Tehmine2{
    width: 550px;
}
.Tehmine3{
    width: 550px;
}

.Tehmine4{
    display: none;
}
.Tehmine5{
    display: none;
}
.Tmm1{
    font-size: 15px;
    line-height: 1.8em;
    color: white;
    margin: 0 0 1rem;
    text-align: justify;
}
.Tm1{
    text-align: right;
    font-style: italic;
    font-size: 1.1rem;
    color: white;
}
.Timg label:hover {
  background: white;
}

#img2:checked ~ .Tehmine1{
    display: none;
    }
 #img2:checked ~ .Tehmine4{
        display: inline;
        }
 #img3:checked ~ .Tehmine1{
            display: none;
            }
 #img3:checked ~ .Tehmine2{
        display: none;
        }
 #img3:checked ~ .Tehmine4{
       display: inline;
        }
  #img3:checked ~ .Tehmine5{
   display: inline;
} 

.Tnone{
    display: none;
}

@media screen and (max-width:1000px){
    .Tnone{
       display: inline;
    }
    .Tboxs{
        width: 40%;
    }
    #img1:checked  ~ .Tehmine2{
        display: none;
    }
    #img1:checked  ~ .Tehmine3{
        display: none;
    }

    #img2:checked ~ .Tehmine1{
        display: none;
        }
    #img2:checked ~ .Tehmine3{
            display: none;
            }
     #img2:checked ~ .Tehmine4{
            display: none;
            }
     #img3:checked ~ .Tehmine1{
                display: none;
                }
     #img3:checked ~ .Tehmine2{
            display: none;
            }
     #img3:checked ~ .Tehmine4{
           display: none;
            }
      #img3:checked ~ .Tehmine5{
       display: none;
    } 
    #img4:checked ~ .Tehmine1{
        display: none;
     } 
     #img4:checked ~ .Tehmine2{
        display: none;
     } 
     #img4:checked ~ .Tehmine3{
        display: none;
     } 
     #img4:checked ~ .Tehmine5{
        display: none;
     } 
     #img4:checked ~ .Tehmine4{
        display:inline;
     } 
     #img5:checked ~ .Tehmine1{
        display:none;
     } 
     #img5:checked ~ .Tehmine2{
        display:none;
     } 
     #img5:checked ~ .Tehmine3{
        display:none;
     } 
     #img5:checked ~ .Tehmine4{
        display:none;
     } 
     #img5:checked ~ .Tehmine5{
        display:inline;
     } 
}




/*Shushan*/

.Shushan_Gallery{
    width: 100%;
    height: 100vh;
    background-color:greenyellow;
}

/*Vahe*/


.vahe{
    background-color: #001828;
    background-image: url(../group4/img/vahe-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
}
.vahe-div1{
    color: white;
    text-align: center;
    padding-top: 40px;
}

.vahe-h1{
    font-size: 40px;
}
.vahe-p{
    padding: 30px 80px 30px 80px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height:35px ;
}

.vahe-div4{
margin-top:20px;
display:flex;
justify-content: space-evenly;
}

.vahe-div2 {
    padding-bottom: 50px;
}

.vahe-div2 input{
display:block;
margin-top: 10px;
border: none;
border: 2px solid #fff;
color: white;

}

.vahe-div2 input::placeholder {
    color: #fff;
}

.vahe-text,.vahe-email{
    width: 400px;
    height: 50px;
    padding-left: 5px;
    border-radius: 8px;
    background-color: transparent;
}

.vahe-mas{
    width: 400px;
    height: 200px;
    border-radius: 8px;
    padding-left: 5px;
    background-color: transparent;
}

.vahe-submit{
    width: 200px;
    height: 35px;
    background-color:#0a3f62;
    border-radius: 5px;

}

.vahe-chat a{
    margin-left: 20px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.vahe-chat{
    display: flex;
    margin-top: 40px; 
}

.vahe-chat i{
    width: 40px;
    height: 40px;
    background-color: transparent;
    font-size: 38px;
    color: #fff;
}

.vahe-chat a:hover{
color: rgb(46, 46, 102);
}

@media screen and (max-width:770px){
 .vahe-div4{
    display: block;
    margin: 0 auto;
 }  
}