*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Raleway", sans-serif;

}
a{
    text-decoration: none;
    color: #fff;
}
/*Tehmine*/

.Tehmine_header{
    width: 100%;
    height: 100vh;
    background-image:url(./img/Tehmine_home_img.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    
}
.Tehmine_header a{
    text-decoration: none;
}


nav{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
   padding: 20px 60px;
   position: fixed;
    background-color: #ffffff;
    z-index: 999;

}
.Tehmine_logo{
    padding:0 20px ;
}
.Tehmine_logo a{
     font-size: 25px;
     font-weight: bold;
     transition: 0.3s;
     color:#336699; 
}
.Tehmine_logo a:hover{
    color:#2074cebe;
}

.Tehmine_menu a{
    color: #369; 
}
ul{
    display: flex;
    justify-content: start;
    flex-flow: row nowrap;
 
}
li{
    list-style: none;
    padding:8px 30px;
    font-size: 20px;
    transition:0.3s;
}
.Tehmine_menu  li:hover{
    background-color: #369;
}
.Tehmine_menu  li:hover a{
  color: #ffffff;
  
}
.Tehmine_parent{
  display:none ;
  padding: 0;
}


.Tehmine_text_home{
    height: 90vh;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 1;
}

.Tehmine_home_h1{
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px #333;
    color: white;
    font-weight: 400;
    line-height: 1.9;
}

.Tehmine_home_p{
    text-shadow: 2px 2px 2px #333;
    text-align: center;
    color: white;
    line-height: 1.9;
    font-size: 20px;
}

.Tehmine_home_button{
    background-color: #357;
    cursor: pointer;
    padding: 15px 40px;
    position: absolute;
    bottom: 0;
    border: none;
}

.Tehmine_home_button:hover{
    color: #FFF;
    background: #37A;
    padding: 20px 50px;
}


@media screen and (max-width:1000px) {
    .Tehmine_logo a{
        font-size: 20px;
    }
      li{
        font-size: 15px;
        padding:8px 15px;
      }
}

@media screen and (max-width:730px) {
    .Tehmine_parent{
        display: block;
        position: relative;
        padding: 0 20px;
    
    }
    .Tehmine_menu{
        display: none;
    }
    nav{
        padding: 20px 0;
    }
    .Tehmine_child{
        background-color:white;
        width: 100vh;
        height:0px;
       position: absolute;
        overflow: hidden;
       right: 0px;
        transition: .4s;
        
    }
    .Tehmine_parent:hover .Tehmine_child{
        height: 200px;
        cursor: pointer;
    }
  

    .Tehmine_child ul{
        display: block;
        display: flex;
        flex-flow: column wrap;
        align-items: end;

        
    }
    .Tehmine_child li{
        width: 200px;
        font-size: 18px;
    }
    .Tehmine_child a{
        color: #707070;
    }
    .Tehmine_child li:hover{
     background-color: #336699;
    }

 .Tehmine_child li:hover a{
       color: white;
    }

}

/*Mariam*/

.Mariam_what-we-do{
    width: 100%;
<<<<<<< HEAD
    padding: 100px 90px;
=======
    height: auto;
    padding: 100px 80px;
>>>>>>> c48318b01206da6ce2c019e41404242815aad751
    font-family: "Raleway", sans-serif;
}
.Mariam_div1{
    width: 100%;
    height: auto;
}
.Mariam_h2{
    color: #3377AA;
    font-weight: 500;
    font-size: 40px;
}
.Mariam_p{
    color: #707070;
    font-size: 19px;
    line-height: 35px;
    margin-top: 25px;
}
.Mariam_text{
    margin-left: 20px;
}
.Mariam_a{
    color: #3388BB;
    text-decoration: none;
}
.Mariam_a:hover{
    color: #dc3545;
}
.Mariam_4divs{
    align-items: center;
    justify-content: center;
}
.Mariam_2divs{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}
.Mariam_div2{
    width: 700px;
    display: flex;
    margin-top: 40px;
}
.Mariam_4divs .Mariam_h2{
    font-size: 30px;
}
.fa-chart-column, .fa-message, .fa-fingerprint, .fa-users{
    color: rgb(51, 119, 170);
    font-size: 50px;
}
.Mariam_button{
    background-color: #336699;
    color: #fff;
    padding: 13px 33px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
}
.Mariam_button:hover{
    filter:opacity(80%);
}
#Mariam_p_last::after{
    content: "<i class=fas fa-users><i class=far fa-chart-bar>";
    font-style: italic;
}
@media screen and (min-width: 767px) and (max-width: 844px){
    .Mariam_what-we-do{
        padding: 130px 125px;
    }
    .Mariam_div2{
        flex-wrap: wrap;
    }
    .Mariam_2divs{
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .fa-chart-column, .fa-message, .fa-fingerprint, .fa-users{
        margin-left: 50%;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 575px) and (max-width: 767px){
    .Mariam_what-we-do{
        padding: 130px 30px;
    }
    .Mariam_div2{
        flex-wrap: wrap;
    }
    .Mariam_2divs{
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .Mariam_4divs{
        margin-top: 20px;
    }
    .fa-chart-column, .fa-message, .fa-fingerprint, .fa-users{
        margin-left: 50%;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1px) and (max-width: 575px){
    .Mariam_what-we-do{
        padding: 130px 28px;
    }
    .Mariam_div2{
        flex-wrap: wrap;
    }
    .Mariam_2divs{
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .Mariam_4divs{
        margin-top: 20px;
    }
    .fa-chart-column, .fa-message, .fa-fingerprint, .fa-users{
        margin-left: 50%;
        margin-bottom: 20px;
    }
<<<<<<< HEAD
    .Mariam_4divs .Mariam_h2{
        font-size: 30px;
    }
    .Mariam_button{
        padding: 14px 34px;
    }
  
=======
>>>>>>> c48318b01206da6ce2c019e41404242815aad751
}
/*Tehmine*/

.Tehmine_Testimonials{
    width: 100%;
    height: 100vh;
    background-image: url(./img/Tehmine_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Tehmine_Testimonials_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 10px;
}
.Testimonials_title{
    font-size: 2.6rem;
    color: white;
    padding: 20px;
}
.Testimonials_text{
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 20px;
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.Tboxs{
    position: relative;
    width:80%;
   overflow: hidden;
   padding: 0 50px;

}
.Tbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    
}
.Tbox img{
   border-radius: 50%;
    transition: all 0.15s ease;
    margin: 10px;
    transform: translateX(50% );

}
.Tbox input{
    display: none;
}

.Timg{
    display: flex;
    justify-content: center;
    margin:50px;
}
.Timg label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(182, 181, 181);
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
    
}
.Tehmine1{
   width: 550px;
}
.Tehmine2{
    width: 550px;
}
.Tehmine3{
    width: 550px;
}

.Tehmine4{
    display: none;
}
.Tehmine5{
    display: none;
}
.Tmm1{
    font-size: 15px;
    line-height: 1.8em;
    color: white;
    margin: 0 0 1rem;
    text-align: justify;
}
.Tm1{
    text-align: right;
    font-style: italic;
    font-size: 20px;
    color: white;
}
.Timg label:hover {
  background: white;
}

#img2:checked ~ .Tehmine1{
    display: none;
    }
 #img2:checked ~ .Tehmine4{
        display: inline;
        }
 #img3:checked ~ .Tehmine1{
            display: none;
            }
 #img3:checked ~ .Tehmine2{
        display: none;
        }
 #img3:checked ~ .Tehmine4{
       display: inline;
        }
  #img3:checked ~ .Tehmine5{
   display: inline;
} 

.Tnone{
    display: none;
}

@media screen and (max-width:1000px){
    .Tnone{
       display: inline;
    }
    .Tboxs{
        width: 40%;
    }
    
    #img1:checked  ~ .Tehmine2{
        display: none;
    }
    #img1:checked  ~ .Tehmine3{
        display: none;
    }

    #img2:checked ~ .Tehmine1{
        display: none;
        }
    #img2:checked ~ .Tehmine3{
            display: none;
            }
     #img2:checked ~ .Tehmine4{
            display: none;
            }
     #img3:checked ~ .Tehmine1{
                display: none;
                }
     #img3:checked ~ .Tehmine2{
            display: none;
            }
     #img3:checked ~ .Tehmine4{
           display: none;
            }
      #img3:checked ~ .Tehmine5{
       display: none;
    } 
    #img4:checked ~ .Tehmine1{
        display: none;
     } 
     #img4:checked ~ .Tehmine2{
        display: none;
     } 
     #img4:checked ~ .Tehmine3{
        display: none;
     } 
     #img4:checked ~ .Tehmine5{
        display: none;
     } 
     #img4:checked ~ .Tehmine4{
        display:inline;
     } 
     #img5:checked ~ .Tehmine1{
        display:none;
     } 
     #img5:checked ~ .Tehmine2{
        display:none;
     } 
     #img5:checked ~ .Tehmine3{
        display:none;
     } 
     #img5:checked ~ .Tehmine4{
        display:none;
     } 
     #img5:checked ~ .Tehmine5{
        display:inline;
     } 
}
 @media screen and (max-width:770px) {
    .Timg label{
        width: 10px;
        height: 10px;
   
    }

    .Tbox img{
        width: 90px;
        height: 90px;
        transform: translateX(0%);
    }
    .Tmm1{
        font-size: 10px;
    }
    .Tm1{
        font-size:15px ;
    }
    .Tehmine1{
        width: 200px;
     }
     .Tehmine2{
         width: 300px;
     }
     .Tehmine3{
         width: 300px;
     }
     .Tbox{
        gap: 0;
     }

 }




/*Shushan*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    
}


.shtitle{
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
}


.shtitle h2{
    font-size: 43.2px;
    color: #37A;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding-top:100px ;
}

.shtitle p{
    font-size: 16.2px;
    color: #707070;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
    padding-left: 290px;
    padding-right: 290px;
}

.shgallery{
    margin-top: 250px;

    position: relative;
    display: flex;
    flex-wrap: nowrap;
    display: inline-block;
    
    
}
.shimgsec1{
    position: relative;
    width: 1250px;
    margin-left: 50px;
    margin-top:50px;
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}


#shbox{
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: 30px;
    text-align: center;
}
.sh{
    position: relative;
   width: 220px;
   height: 320px;
   margin: 10px;
    overflow: hidden;
}
img{
  
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  
  gap: 20px;
  margin: auto;
    
}
.shtext{
   
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(35, 17, 75, 0.404);
    display: flex;
    justify-content: start;
    align-items: flex-end;
    top: -8px;
    opacity: 0;
    transition: .6s;
    cursor: pointer;
}

.shtext::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* margin-top:7px; */
    height:100%;
   background-color: 0, 0, 0,;
    
}
.shtext:hover::after{
    top: 100%;
    background-color: rgb(46, 120, 177);
}

.shtext:hover{
   opacity: 1;
}
.shtext h4{
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
}
.shtext > *{
    transform: translateY(-25px);
    transition: transform .4s;
}

.shtext:hover > *{
    transform: translateY(0px);
}


.shinput{
    
    display: flex;
    justify-content: center;
    width: 100%;
}

.shinput input{
    
    display: none;
}

.shlabel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 560px;
}
.shlabel label:nth-child(1){
    background-color: #37A;
}
.shlabel label{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #7070707c;
    cursor: pointer;
    scroll-behavior: smooth;
    transition: all 0.15s ease;
    margin: 5px;
    
}

.shlabel label:hover:not(:first-child) {
    background: #37A;
  }
   

  #Simg1:checked ~ .shbox6{
    display: none;
 }
 #Simg1:checked ~ .shbox7{
    display: none;
 }
 #Simg1:checked ~ .shbox8{
    display: none;
 }
 #Simg2:checked ~ .shbox1{
    display: none;
 }
 #Simg2:checked ~ .shbox2{
    display: none;
 }
 #Simg2:checked ~ .shbox8{
    display: none;
 }
 #Simg3:checked ~ .shbox1{
    display: none;
 }
 #Simg3:checked ~ .shbox2{
    display: none;
 }
 #Simg3:checked ~ .shbox3{
    display: none;
 }
 #Simg3:checked ~ .shbox8{
    display: inline;
 }
 .Snone{
    display: none;
 }
 @media screen and (max-width:1000px) {
    .Snone{
        display: inline;
    }
    #shbox{
        display: none;
    }
    #Simg1:checked ~ .shbox1{
        display:inline;
     }
     #Simg2:checked ~ .shbox2{
        display:inline;
     }
     #Simg3:checked ~ .shbox3{
        display:inline;
     }
     #Simg4:checked ~ .shbox4{
        display:inline;
     }
     #Simg5:checked ~ .shbox5{
        display:inline;
     }
     #Simg6:checked ~ .shbox6{
        display:inline;
     }
     #Simg7:checked ~ .shbox7{
        display:inline;
     }
     #Simg8:checked ~ .shbox8{
        display:inline;
     }
   
 }

/*Vahe*/


.vahe{
    background-color: #001828;
    background-image: url(../group4/img/vahe-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
}
.vahe-div1{
    color: white;
    text-align: center;
    padding-top: 40px;
}

.vahe-h1{
    font-size: 40px;
}
.vahe-p{
    padding: 30px 80px 30px 80px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height:35px ;
}

.vahe-div4{
margin-top:20px;
display:flex;
justify-content: space-evenly;
}

.vahe-div2 {
    padding-bottom: 50px;
}

.vahe-div2 input{
display:block;
margin-top: 10px;
border: none;
border: 2px solid #fff;
color: white;

}

.vahe-div2 input::placeholder {
    color: #fff;
}

.vahe-text,.vahe-email{
    width: 400px;
    height: 50px;
    padding-left: 5px;
    border-radius: 8px;
    background-color: transparent;
}

.vahe-mas{
    width: 400px;
    height: 200px;
    border-radius: 8px;
    padding-left: 5px;
    background-color: transparent;
}

.vahe-submit{
    width: 200px;
    height: 35px;
    background-color:#0a3f62;
    border-radius: 5px;

}

.vahe-chat a{
    margin-left: 20px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.vahe-chat{
    display: flex;
    margin-top: 40px; 
}

.vahe-chat i{
    width: 40px;
    height: 40px;
    background-color: transparent;
    font-size: 38px;
    color: #fff;
}

.vahe-chat a:hover{
color: rgb(46, 46, 102);
}

@media screen and (max-width:770px){
 .vahe-div4{
    display: block;
    margin: 0 auto;
 }  
}